*{
 padding:0px;
 margin:0px;
}
body,html
{
font-family:Roboto, sans-serif,arial;
background:#f0f3fa;
}
.width-100
{
width:100%;
float:left;
}
.container{
width:1500px;
margin:0px,auto;
}
.top-header
{
 background:#2196f;
padding:5px 0px;
border-bottom:1px solid #3131315e;
}
.news-list
{
background:#fff;
color:red;
padding:6px;
font-size:20px;
}
.headquote
{
 font-size:25px;
 color:#fff
width:80%;
}
.header-menu{
   position:relative;
   box-shadow: 0px 2px 5px 0px #00000036;
}
.logo
{
    width:fit-content;
    float:left;

}
.main-menu{
      life-style:none;
      float:right;
      margin-top:20px
}
.main-menu a {
    font-weight:500;
    color:#3a3a3a;
    text-decoration:none;

}

.main-menu li{
     float:left;
     padding:12px 15px;

}
h1
{
font-color:black;
font-size:35px;
}
 
  .pic {
  display: grid;
  grid-template-columns:40% 40% 40%;
  align-items: center;
   }
 .picture
{
display: grid;
  grid-template-columns:40% 40% 40%;
  align-items: center;

}

